body {
    background-color:#212529;
    color:#f8f9fa;
}
label {
    margin: 10px 10px 5px 10px;
}
button {
    margin: 0px 10px 0px 0px;
}
.flex-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.collection-unit {
    height:20px;
    width: 20px;
    margin: 5px 2.5px 0px 2.5px;
    background-color: #6c757d;
    border-radius: 3px;
}